Django==1.9
Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.8
Markdown==2.6.7
MarkupSafe==0.23
PyMySQL==0.7.10
SQLAlchemy==1.0.8
Werkzeug==0.10.4
gunicorn==19.7.1
itsdangerous==0.24
markdown2==2.3.2
numpy==1.12.0
pydot==1.0.2
sqlalchemy-admin==0.1.2
sqlalchemy-datatables==0.1.6
sqlalchemy-elasticquery==0.0.2
sqlalchemy-find==0.1
sqlalchemy-schemadisplay==1.2
sqlalchemy-sql-shell==0.0.0
sqlalchemy-sqlany==1.0.1
sqlanydb==1.0.6
texttable==0.8.3
vboxapi==1.0
virtualenv==13.1.1
wsgiref==0.1.2
