beautifulsoup4==4.3.2
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.8.18
django-crispy-forms==1.4.0
django-durationfield==0.5.1
django-toolkit==0.3.3
gunicorn==19.0.0
idna==2.5
lxml==3.4.4
pi==0.1.2
PyMySQL==0.7.11
python-dateutil==2.4.2
python-decouple==3.0
requests==2.18.1
six==1.10.0
static3==0.7.0
tldextract==1.6
unicodecsv==0.13.0
urllib3==1.21.1
wheel==0.24.0
