{% extends "courses/layout.html" %}



{% block title %} new answer |{{ question.prompth}}| {{question.quiz.course.title}}{{ block.super }}{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class ="row columns">
    {{ block.super }}
    <h1>Add answer</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class ="button" value="Save">


    </form>
    {% if form.instance.pk %}
    <hr>


    </div>

{% endif %}
{% endblock %}