    {% extends "courses/layout.html" %}
    {% load course_extras %}

    {% block title %}{{ step.title }} | {{ step.course.title }} {{ block.super }}{% endblock %}

    {% block breadcrumbs %}


    {% endblock %}

    {% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>



    </head>

    <body>




    <div class="row columns">
        <article>
            {{ block.super }}
            <h1>{{ step.title }}</h1>
            <!--   <button onclick="getCurTime()" class="button">Records problem at current time position</button>
           <form action="">
             TimeStamp:<br>
             <input type="text" name="timestamp" value="" id="textfield">
             Feedback<br>
             <input type="text" name="feedback" value="">
             <input type="submit"  class ="button" value="Send">
           </form>

           -->

            <!--   <button onclick="setCurTime()" class="button">Go back 15 seconds</button><br> -->
        </article>

        <article >
            <video class="video" width="1016" >
                <source src="{{ step.video.url  }}" class="center" type="video/mp4">

                Your browser does not support HTML5 video.
            </video>
            <button class="button1">Show Feedbacks</button>

            <dl>
                {% for step in steps %}
                <div class="callout first">

                    <a href="">{{ step.title }}</a>

                    Time:{{ step.times }}</dd><br>
                    Feedback:{{ step.feedback }}</dd>

                    <br>
                </div>
                {% endfor %}
            </dl>

        </article>
        <hr>
        <a href="{% url 'courses:create_query'  course_pk=step.course.id step_pk=step.id %}" class="button">Create new
            Feedback</a>

    </div>





    <!-- Ratings Chart canvas -->
    <div class="container" width="320" height="176">
        <h2> Time Chart </h2>
        <div>
            <canvas id="myChart" width="260" height="136"></canvas>
        </div>
        <button class="button_description">Show More Charts</button>
        <br>

        <div id = "PieChartDiv">
             <h3> Pie Chart </h3>
            <canvas id="myChartPie" width="260" height="136">   </h2></canvas>
        </div>
    </div>

    <!-- innerHTML for ratinga -->

    <div id="step_tru1">
        {% for step in steps %}

        <div id="par1">{{ step.times }}</div>


        {% endfor %}


    </div>

    <div id="step_tru2">
        {% for step in steps %}

        <div id="par2">{{ step.feedback }}</div>


        {% endfor %}


    </div>


    <!-- function for rating canvas -->


    <script>



        $(document).ready(function(){

                $("dl").hide();
                $("#mychart_description").hide();
                $(".container_description").hide();
                 $("form").hide();
                 $("#step_tru1").hide();
                 $("#step_tru2").hide();
                  $("h3").hide();

     });

            $(".button1").click(function(){
                $("dl").show();
                $("#step_tru1").hide();
                $("#step_tru2").hide();
                $(".button1").val('Save');
            });

            $(".button_description").click(function(){
                $(".container_description").show();
                show_description_chart();






        var vid = document.getElementById("video");

       function getCurTime() {
        var x = document.getElementById("textfield");
         x.setAttribute("type", "text");
           x.setAttribute("value", vid.currentTime);
           $("form").show();

          }

     function setCurTime() {
      vid.currentTime=vid.currentTime-15;
       }


        $(".button_description").click(function(){

        $(".container_description").show();
        show_description_chart();



    });





          });
             var ctx = document.getElementById('myChart').getContext('2d');
               var ctxPie = document.getElementById('myChartPie').getContext('2d');






                // For line time chart
                        var tRow = document.getElementById('step_tru1');
                        var i;
                        var all = new Array();
                        for (i=0; i<19; i++){
                        var x = tRow.children[i].innerHTML;
                        all[i]=x;
                        all.sort();
                        var counts = {};
                        all.forEach(function(i) {
                         counts[i] = (counts[i] || 0)+1;

                         });

                           console.log(counts)


                           console.log(counts)

                        var key = Object.keys(counts);
                        var value = Object.values(counts);
                       // console.log(bad_materialvalue);
                       //  var badly_explainedkey = Object.keys(counts)[1];
                       // var badly_explainedvalue = counts.badly_explained;
                       // console.log(counts.badly_explainedvalue);

                       // var too_difficultkey = Object.keys(counts)[2];
                       // var too_difficultvalue = counts.too_difficult;
                       // console.log(counts.too_difficultvalue);

                        var valueArray =[value];
                        var keyArray = [key];
                        console.log("keyvalue"+valueArray);
                        console.log("keyArray"+keyArray);


                    func(value,key);



    }



     // For Pie  chart
               function show_description_chart(){
                        var tRowPie = document.getElementById('step_tru2');
                        var iPie;
                        var allPie = new Array();
                        for (iPie=0; iPie<9; iPie++){
                        var xPie = tRowPie.children[iPie].innerHTML;
                        allPie[iPie]=xPie;
                        allPie.sort();
                        var countsPie = {};
                        allPie.forEach(function(iPie) {
                         countsPie[iPie] = (countsPie[iPie] || 0)+1;

                         });


                        var keyPie = Object.keys(countsPie);
                        var valuePie = Object.values(countsPie);
                       // console.log(bad_materialvalue);
                       //  var badly_explainedkey = Object.keys(counts)[1];
                       // var badly_explainedvalue = counts.badly_explained;
                       // console.log(counts.badly_explainedvalue);

                       // var too_difficultkey = Object.keys(counts)[2];
                       // var too_difficultvalue = counts.too_difficult;
                       // console.log(counts.too_difficultvalue);

                        var valueArrayPie =[valuePie];
                        var keyArrayPie = [keyPie];
                        console.log("keyvaluePie"+valueArrayPie);
                        console.log("keyArrayPie"+keyArrayPie);

              //func(key,value);
                    funcPie(keyPie,valuePie);
    }
}







     function funcPie(xPie,yPie){


                    console.log("funcPie called");


                var color =  "rgba(153,255,51,0.6)";
                var chartPie = new Chart(ctxPie, {
               type: 'doughnut',
                data: 'data',
                  options: {
                  function(chart) {}

                },


                 data:{
                labels: xPie,
                datasets: [
                    {

                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,

                        data:yPie
                        }]
                    }


                    });




            }

              function func(y,x){


                    console.log("func called");



                var color =  "rgba(153,255,51,0.6)";
                var chart = new Chart(ctx, {
               type: 'line',
                data: 'data',
                  options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                max:5,
                                min: 0,
                                stepSize: 1
                            }
                        }]
                    }
                },


                 data:{
                labels: x,
                datasets: [
                    {
                        label: "Not Understanding Timestamps Chart",
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,

                        data:y
                        }]
                    }


                    });


            }










        </script>

    </body>


    {% endblock %}

    </html>